@charset "UTF-8";
/* 設定 全域 border-box*/
*, *::before, *::after {
  box-sizing: border-box;
}

/* 可以讓圖片隨著視窗大小縮放*/
img {
  max-width: 100%;
  height: auto;
}

body {
  background: black;
  color: white;
  font-family: "Noto Sans TC", "sans-serif";
  font-weight: 900;
}

h1 {
  font-size: 7.5rem;
  line-height: 144px;
  white-space: pre-line;
  margin: 40px 0;
}

h2 {
  font-size: 5em;
}

h3 {
  font-size: 3rem;
  line-height: 57.6px;
  white-space: pre-line;
}

h4 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: white;
}

.mb10per {
  margin-bottom: 10%;
}

.mb-160 {
  margin-bottom: 160px;
}

.mtb-160 {
  margin: 10rem 0;
}

.mb-80 {
  margin-bottom: 5rem;
}

.mt-40 {
  margin-top: 2.5rem;
}

.p-content {
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  margin: 40px 0;
}

.mt-10 {
  margin-top: 10rem;
}

.mt-05 {
  margin-top: 0.5rem;
}

.h1-small {
  display: none;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.container-content {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
}

.logo {
  height: 40px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid white;
}
.menu .menu-item {
  font-size: 1rem;
  display: flex;
}
.menu .menu-item li {
  margin-left: 20px;
}
.menu .menu-img {
  display: none;
}

.start {
  display: inline-block;
  font-size: 1.25em;
  padding: 20px 30px;
  border-radius: 15px;
  border: 1px solid white;
  color: white;
}

.header a {
  font-weight: 700;
}
.header .grass {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 160px;
}
.header .grass .grass-img {
  animation: grass-animation 8s infinite;
}

.header-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header-content .header-service {
  width: 32%;
}
.header-content .header-introduce {
  width: 66%;
}
.header-content .introduce-small {
  display: none;
}
.header-content .service-card {
  display: flex;
  justify-content: space-between;
}
.header-content .service-card .card-body {
  padding: 5% 3% 2%;
  width: 32%;
  border: 3px solid rgba(255, 255, 255, 0.0784313725);
  border-radius: 5%;
}
.header-content .service-card .card-body img {
  margin-bottom: 5%;
}

.partner {
  width: 100%;
}
.partner .partner-h4 {
  width: 100%;
  margin-bottom: 80px;
}
.partner .partner-img img {
  height: 40px;
}
.partner .partner-img .enterprise {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
}
.partner .partner-img .enterprise::after, .partner .partner-img .enterprise::before {
  content: "";
  width: 160px;
  height: 40px;
  position: absolute;
}
.partner .partner-img .enterprise::after {
  right: 20px;
  background: linear-gradient(to left, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 80%, rgba(0, 0, 0, 0.1) 100%);
}
.partner .partner-img .enterprise::before {
  left: 0px;
  background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 80%, rgba(0, 0, 0, 0.1) 100%);
}
.partner .partner-img .enterprise-down {
  margin-left: 24px;
}

.comment-div {
  width: 100%;
}

.comment-card {
  display: flex;
  justify-content: space-between;
}
.comment-card .comment-card-body {
  background: rgba(255, 255, 255, 0.0784313725);
  width: 32%;
  border-radius: 5%;
  padding: 5% 40px;
}
.comment-card .comment-card-body .comment {
  height: 195px;
  overflow: hidden;
}
.comment-card .comment-card-body p {
  width: 0 30%;
}
.comment-card .commenter {
  display: flex;
  align-items: center;
}
.comment-card .commenter img {
  height: 48px;
  width: 48px;
  margin-right: 16px;
}
.comment-card .commenter .commenter-name {
  margin-bottom: 4px;
  font-weight: 700;
}
.comment-card .commenter .commenter-company {
  font-weight: 400;
  font-size: 0.875em;
}

.body {
  width: 100%;
  border-radius: 10rem;
  background: white;
  color: black;
  overflow: hidden;
}
.body .search {
  margin-top: 80px;
  padding: 32px auto;
  border: none;
  color: rgba(0, 0, 0, 0.6);
  background: #F2F2F2;
  border-radius: 16px;
  background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023web-camp/icons/search.png");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  height: 64px;
  background-position: 43px 20px;
  padding-left: 70px;
  width: 100%;
}
.body .filter-bar {
  margin-top: 24px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.body .filter-bar .filter-btn {
  padding: 20px 32px 20px 40px;
  background: white;
  font-size: 1rem;
  font-family: "Noto Sans TC", "sans-serif";
  display: flex;
  align-items: center;
}
.body .filter-bar .btn {
  border: 2px solid #F2F2F2;
  border-radius: 1rem;
}
.body .filter-bar .ul-tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.body .filter-bar .ul-tag li {
  margin-left: 40px;
}
.body .filter-bar .ul-tag .tag-btn {
  background: #F2F2F2;
  padding: 4px 8px;
  color: black;
}
.body .filter-bar a {
  color: rgba(0, 0, 0, 0.6);
}
.body .wrap {
  display: flex;
  flex-wrap: wrap;
}
.body .wrap .mrl-24 {
  margin-right: 24px;
  margin-left: 24px;
}
.body .wrap .card {
  width: 416px;
  margin-top: 12px;
  margin-bottom: 12px;
  border: 1px solid #F2F2F2;
  border-radius: 16px;
  overflow: hidden;
}
.body .wrap .card a {
  color: black;
}
.body .wrap .card .card-img {
  overflow: hidden;
}
.body .wrap .card .card-img img:hover {
  transition: transform 0.5s;
  transform: scale(1.2);
}
.body .wrap .card .card-header, .body .wrap .card .card-body, .body .wrap .card .card-footer {
  padding: 20px 32px;
}
.body .wrap .card .card-body, .body .wrap .card .card-footer {
  display: flex;
  justify-content: space-between;
}
.body .wrap .card .card-header h3 {
  font-size: 1.25em;
  margin-bottom: 12px;
  font-weight: 900;
}
.body .wrap .card .card-header p {
  color: #525252;
  font-size: 0.875em;
  height: 42px;
  line-height: 150%;
}
.body .wrap .card .card-body {
  border-top: 1px solid #F2F2F2;
}
.body .wrap .card .card-body h4 {
  font-weight: 700;
}
.body .wrap .card .card-body h4, .body .wrap .card .card-body span {
  font-size: 1rem;
}
.body .wrap .card .card-footer {
  border-top: 1px solid #F2F2F2;
  align-items: center;
}
.body .page {
  display: flex;
  justify-content: flex-end;
  margin: 24px 0 162px;
}
.body .page a {
  padding: 0.85rem 1.2rem;
  color: black;
}
.body .page .now-page {
  background: black;
  color: white;
  border-radius: 1rem;
}

.w100per {
  width: 100%;
  text-align: center;
}

.footer .footer-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 160px 0;
}
.footer .footer-header .f-start {
  display: flex;
}
.footer .footer-header img {
  margin-left: 1rem;
}
.footer .footer-content {
  padding: 5rem 0;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
.footer .footer-content .f-content {
  display: flex;
  justify-content: space-between;
}
.footer .footer-content .f-content a {
  display: block;
}
.footer .footer-footer {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}
.footer .footer-footer .footer-left {
  display: flex;
}
.footer .footer-footer .footer-left .community-link {
  margin-left: 6.25rem;
  display: flex;
}
.footer .footer-footer .footer-left .community-link li {
  margin-right: 20px;
}
.footer .footer-footer .back-to .back-to-top {
  margin-right: 1rem;
}

@media (max-width: 1290px) {
  .container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
  }
  .container-content {
    width: 100%;
    max-width: 1296px;
    margin: 0 auto;
  }
}
@media (max-width: 375px) {
  h1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 2rem;
    line-height: 38.4px;
    white-space: pre-line;
  }
  h4 {
    font-size: 1.25rem;
  }
  html {
    max-width: 375px;
    width: 375px;
  }
  .container {
    width: 100%;
    max-width: 375px;
    width: 375px;
  }
  .container-content {
    width: 100%;
    max-width: 351px;
  }
  .menu .menu-item {
    display: none;
  }
  .menu .menu-img {
    display: block;
  }
  .h1-large {
    display: none;
  }
  .h1-small {
    display: block;
  }
  .header .grass {
    margin-bottom: 110px;
  }
  .header-content .header-service {
    width: 100%;
    margin-bottom: 24px;
  }
  .header-content .header-introduce {
    display: none;
  }
  .header-content .introduce-small {
    width: 100%;
    display: block;
  }
  .header-content .s-mb-120 {
    margin-bottom: 120px;
  }
  .header-content .service-card {
    flex-wrap: wrap;
  }
  .header-content .service-card .s-fz-32 {
    font-size: 2rem;
  }
  .header-content .service-card .card-body {
    width: 100%;
    margin-top: 10px;
  }
  .partner .partner-h4 {
    margin-bottom: 24px;
  }
  .partner .enterprise {
    margin-bottom: 48px;
  }
  .comment-card {
    flex-wrap: wrap;
  }
  .comment-card .card-hide {
    display: none;
  }
  .comment-card .comment-card-body {
    width: 100%;
  }
  .body {
    border-radius: 1.25rem;
  }
  .footer .footer-footer .footer-left {
    flex-wrap: wrap;
    justify-content: start;
  }
  .footer .footer-footer .footer-left .community-link {
    margin-left: 0;
  }
  .footer .footer-footer .back-to .back-to-top {
    margin-right: 1rem;
  }
}/*# sourceMappingURL=all.css.map */