/* 設定 全域 border-box*/
*,
*::before,
*::after {
    box-sizing: border-box;
    // outline: 1px solid blue;
}

/* 可以讓圖片隨著視窗大小縮放*/
img {
    max-width: 100%;
    height: 0 auto;
}

$base-color: white;
$font-family: 'Noto Sans TC', 'sans-serif';
$gray: #F2F2F2;
$gray-darker: rgb(0, 0, 0, 0.6);

$fz-1: 1rem;
$fz-2: 2rem;
$fz-3: 3rem;
$fz-4: 4rem;
$fz-5: 5rem;

body {
    background: black;
    color: $base-color;
    font-family: $font-family;
    font-weight: 900;
    // line-height: 38px;
}

// h4 {
//     font-size: 2rem;
// }

a {
    text-decoration: none;
    color: $base-color;
}


// 基本樣式
@import "normal";

// 斷點
@import "breakPoints";